<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>POS289::Home</title>
</head>
<body>

<div layout:fragment="content">
<h1>WELCOME</h1>
<h1 th:text="${sfullname}"></h1>
</div>


</body>
</html>