<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
<table th:each="item, iter: ${variants}">
    <tr>
        <td>Initial</td>
        <td th:text="${item.Initial}"></td>
    </tr>
    <tr>
        <td>Name Kota/Kab</td>
        <td th:text="${item.Name}"></td>
    </tr>
    <tr>
        <td>Category</td>
        <td th:text="${item.category.Name}"></td>
    </tr>
    <tr>
        <td>Active</td>
        <td th:text="${item.Active}"></td>
    </tr>
    <tr>
        <td>Initial</td>
        <td><input type="checkbox" th:checkbox="${item.Initial}" disabled></td>
    </tr>
    <tr>
        <td><button onclick="javascript:window.open('/varints/index','_self')"  class="btn btn-secondary">Cancel</button></td>
        <td><button th:value="${item.Id}" onclick="del(this.value)" class="btn btn-primary">Delete</button></td>
    </tr>
</table>
<script>
    function del(id){
        window.open('/variants/del/'+id)
    }
</script>

</html>