<html lang="en" xmlns:th="http://www.thymeleaf.org">


<form th:action="@{~/variants/save}" th:object="${variants}" method="post">
<td><input type="hidden" th:field="*{Id}"></td>


	<table class="table">
		<tr>
			<td>Provinsi</td>
			<td>
				<select th:field="*{categoryId}" class="form-control">
					<option th:each="item: ${category}" th:value="${item.Id}" th:text="${item.Name}"></option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>Initial</td>
			<td><input type="text" th:field="*{Initial}" class="form-control"></td>
		</tr>
		<tr>
			<td>Name Kota/Kab</td>
			<td><input type="text" th:field="*{Name}" class="form-control"></td>
		</tr>
		<tr>
			<td>Active</td>
			<td><input type="checkbox" th:field="*{Active}">Active?</td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit" class="btn btn-primary">Simpan</button></itd>
		</tr>
		
	</table>
</form>

</html>

	