<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Kota/Kabupaten</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Kota/Kabupaten</h1>
		<p align="right">
			<button onClick="addform()" class="btn btn-outline-success">+Tambah Variants</button>
			<button onclick="topdf()" class="btn btn-warning">+ Export to PDF</button>
		</p>
		<table width="100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Provinsi</th>
					<th>Initial</th>
					<th>Name Kota/Kab</th>
					<th>Active</th>
					<th>Created_By</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, iter: ${listvan}">
					<td th:text="${iter.count}"></td>
					<td th:text="${item.category.Name}"></td>
					<td th:text="${item.Initial}"></td>
					<td th:text="${item.Name}"></td>
					<td><input type="checkbox" th:checked="${item.Active}" disabled></td>
					<td th:text="${item.Create_by}"></td>
					<td>
						<button th:value="${item.Id}" onclick="editform(this.value)"
							class="btn btn-labeled btn-primary">
							<span class="btn-label"><i class="fa fa-pencil"></i></span>
						</button>
						<button th:value="${item.id}" onclick="deleteform(this.value)"
							class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="fa fa-trash"></i></span>
						</button>
					</td>

				</tr>
			</tbody>
		</table>
		<script>
			function addform() {
				$.ajax({
					url: '/variants/form',
					type: 'get',
					contentType: 'html',
					success: function (result) {
						console.log(result)
						$("#mymodal").modal('show')
						$(".modal-title").html('Tambah data Kota Kab')
						$(".modal-body").html(result)
					}
				})
			}
			function editform(id) {
				//window.open('/category/edit/'+id, '_self')
				$.ajax({
					url: '/variants/edit/' + id,
					type: 'get',
					contentType: 'html',
					success: function (result) {
						console.log(result)
						$("#mymodal").modal('show')
						$(".modal-title").html('Tambah data Kota/kab')
						$(".modal-body").html(result)
					}
				})
			}

			function deleteform(id) {
				//window.open('/category/delete/'+id, '_self')
				$.ajax({
					url: '/variants/delete/' + id,
					type: 'get',
					contentType: 'html',
					success: function (result) {
						console.log(result)
						$("#mymodal").modal('show')
						$(".modal-title").html('Hapus data Kota/kab')
						$(".modal-body").html(result)
					}
				})
			}
			function topdf() {
				window.open('/api/exportvarian', '_blank');
			}
		</script>
	</div>
</body>

</html>